/** @format */

footer .container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
footer .footerContainer {
  display: inline-flex;
  align-items: center;
  gap: 9.0625rem;
  padding: 3.125rem 6.25rem;
}

footer .footerContainer .links {
  display: flex;
  align-items: flex-start;
  gap: 3.125rem;
}

footer .footerContainer .links li {
  list-style: none;
  display: flex;
  align-items: flex-start;
  gap: 3.125rem;
}

footer .footerContainer .links li a {
  text-decoration: none;
  color: #000;
  font-family: "EB Garamond", serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: all 0.5s ease;
}
footer .footerContainer .links li a:hover {
  color: #d3874a;
  transition: all 0.5s ease;
  transform: scaleX(1.1);
  cursor: pointer;
}

footer .footerContainer .inputContainer {
  display: flex;
  padding: 0.5rem 1.25rem 0.5rem 1.875rem;
  justify-content: flex-end;
  align-items: center;
  gap: 1.5625rem;
  border-radius: 0.625rem;
  border: 1px solid #bbb0b0;
  background: #fff;
}

footer .footerContainer .inputContainer input {
  padding: 0.75rem 1.25rem 0.8125rem 1.85rem;
  width: 20rem;
  color: black;
  font-family: "EB Garamond", serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  outline: none;
}

footer .footerContainer .inputContainer label {
  position: absolute;
  left: 42.8rem;
  color: #8b8b8b;
  font-family: "EB Garamond", serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  transition: all ease 0.5s;
}

/* footer .footerContainer .inputContainer input:focus ~ label {
  transform: translateY(-11px);
  transition: all 0.5s ease;
  font-size: 0.8rem;
}

footer .footerContainer .inputContainer input.hasValue:not(:focus) ~ label {
  transform: translateY(-11px);
  transition: all 0.5s ease;
  font-size: 0.8rem;
}

footer .footerContainer .inputContainer input.input:not(:focus) ~ label {
  transition: 250ms cubic-bezier(1, 0.1, 0, 0.5) 0s;
} */

footer .footerContainer .inputContainer input:focus ~ label,
footer .footerContainer .inputContainer input.hasValue ~ label {
  transform: translateY(-20px);
  transition: all 0.5s ease;
  font-size: 0.8rem;
}

footer .footerContainer .inputContainer input.input:not(:focus):not(.hasValue) ~ label {
  transform: translateY(0);
  transition: all 0.5s ease;
  font-size: 1rem; /* You can set the original font-size here */
}

footer .container .line {
  opacity: 0.4;
  background: #a6a2a2;
  width: 100%;
  height: 0.0625rem;
}

footer .container .socialsContainer {
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1.25rem;
  padding: 1.125rem 6.25rem;
}
