/** @format */

.hero {
  padding: 3.125rem 6.25rem;

  gap: 0.625rem;
  background: #f7f7f7;
}

.hero .container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.5rem;
}

.hero .container header {
  display: flex;
  align-items: flex-start;
  gap: 9.9375rem;
}

.hero .container header span {
  width: 32.3125rem;
  color: var(--primary-color);
  font-family: var(--heading1-font-family);
  font-size: 3.375rem;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 3.375rem */
  letter-spacing: 0.0675rem;
}

.hero .container header div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.875rem;
}

.hero .container header div span {
  color: #333;
  font-family: var(--header3-font-family);
  font-size: var(--header3-font-size);
  font-weight: var(--header3-font-weight);
  line-height: var(--header3-line-height);
}

.hero .container main {
  width: 77.5rem;
  height: 35rem;
  background: url("../Components/assets/heroImg.webp") no-repeat center;
  background-size: cover;
}
